<!--<div class="container">
<div class="jumbotron">
<article>
 	<header>
 		<p><h1><%= @list.nome %></h1></p>
 	</header>
 </article>
</div>

<%= link_to new_list_path(@list), class:'btn btn-link' do %>
 	<i class="glyphicon glyphicon-tower"> Cadastrar Lista</i>
<% end %>

<%= link_to lists_path, class:'btn btn-link' do %>
 	<i class="glyphicon glyphicon-home"> Voltar</i>
<% end %>

<%= link_to edit_list_path(@list), class:'btn btn-link' do %>
	<i class="glyphicon glyphicon-edit"> Editar</i>
<% end %>

 <%= link_to list_path(@list), method: :delete, data:{confirm: "Deseja deletar essa list?"}, class:'btn btn-link' do %>
 	<i class="glyphicon glyphicon-remove-sign"> Deletar</i>
 <% end %>

</div>-->