<p id="notice"><%= notice %></p>

<h1>Colabs</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colabs.each do |colab| %>
      <tr>
        <td><%= colab.nome %></td>
        <td><%= colab.list %></td>
        <td><%= link_to 'Show', colab %></td>
        <td><%= link_to 'Edit', edit_colab_path(colab) %></td>
        <td><%= link_to 'Destroy', colab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colab', new_colab_path %>
